<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/logo.png">
    <title>
        <%=filename%>
    </title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f3f3f3;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 600px;
            margin: 50px auto;
            padding: 20px;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            color: #333333;
        }

        .header {
            background-color: #393939;
            color: #ffffff;
            text-align: center;
            padding: 20px 0;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 5px 5px 0 0;
        }

        .header h1 {
            margin: 0;
            display: flex;
            align-items: center;
            cursor: pointer;
            padding-left: 15px;
        }

        .header a {
            color: #ffffff;
            text-decoration: none;
            display: flex;
            align-items: center;
            padding-right: 15px;
        }

        .header a img {

            width: 30px;
            margin-left: 15px;
        }

        .message {
            text-align: center;
        }

        button {
            background-color: #ab8a1d;
            color: #ffffff;
            border: none;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #4d3c05;
        }

        .footer {
            text-align: center;
            margin-top: 20px;
            color: #333333;
            border-top: 1px solid #dddddd;
            padding-top: 20px;
        }

        .footer p {
            margin-bottom: 10px;
        }

        .footer ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        .footer ul li {
            display: inline;
            margin-right: 10px;
        }

        .footer ul li a {
            color: #333333;
            text-decoration: none;
            transition: color 0.3s ease;
        }

        .footer ul li a:hover {
            color: #ab8a1d;
        }
    </style>
</head>

<body>
    <div class="header">
        <h1 onclick="location.href = 'https://filepod-c7a77.web.app/'">
            <img src='/assets/logo.png' width="30" style="vertical-align: middle; margin-right: 10px;">
            File Pod
        </h1>
        <a href="https://github.com/elialm7/filepod-backend-node" target="_blank">
            <img src="/assets/github-mark-white.png" alt="GitHub" width="30">
        </a>
    </div>
    <div class="container">
        <div class="message">
            <h2>Preview de Descarga</h2>
            <p>Nombre del Archivo: <b style="color: #ab8a1d">
                    <%=filename%>
                </b></p>
            <p>ID del Archivo: <b style="color: #ab8a1d">
                    <%= uid %>
                </b></p>
            <p>Pin de descarga del archivo: <b style="color: #ab8a1d">
                    <%= pin %>
                </b></p>
            <p>Tamaño del archivo<b style="color: #ab8a1d">
                    <%=filesize %> 
                </b> bytes</p>
            <p>Descargas disponibles: <b style="color: #ab8a1d">
                    <%= dwtimes%>
                </b></p>
            <form action="/file/download/<%=uid %>" method="get">
                <button type="submit">Descargar</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>Tecnologias Utilizadas</p>
        <ul>
            <li><a href="https://nodejs.org/" target="_blank">Node.js</a></li>
            <li><a href="https://socket.io/" target="_blank">Socket.IO</a></li>
            <li><a href="https://ejs.co/" target="_blank">EJS</a></li>
            <li><a href="https://flutter.dev/web" target="_blank">Flutter Web</a></li>
            <li><a href="https://www.javascript.com/" target="_blank">JavaScript</a></li>
            <li><a href="https://expressjs.com/" target="_blank">Express.js</a></li>
            <li><a href="https://www.mongodb.com/" target="_blank">Mongodb</a></li>
        </ul>
    </div>
</body>

</html>